root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,coffee,ts,jsx,tsx,rb,yml,yaml,htm,html,erb,slim}]
indent_style = space
indent_size = 2
