@import "variables";
@import "mixins";
@import "markdown";

.container {
  @include clearfix;
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  &--border {
    width: 1px;
    background-color: #979797;
    float: left;
  }
}

.contestNavigation {
  float: left;
  width: calc(25% - 1px);
  &--inner {
    padding: 16px;
  }
  &--header {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
  &--homeLink {
    display: block;
    font-size: 14px;
    color: $link-color;
    &:hover {
      color: $link-color;
    }
  }
  &--problemList {
    display: block;
  }
  &--problemListHeader {
    display: block;
    font-size: 12px;
    color: #545454;
  }
  &--problem {
    display: block;
  }
  &--problemLink {
    display: block;
    font-size: 14px;
    color: $link-color;
    &:hover {
      color: $link-color;
    }
  }
  &--dataSet {
    display: block;
    font-size: 12px;
    color: #545454;
    padding-left: 16px;
  }
  &--dataSetCheck__incorrect,
  &--dataSetCheck__correct {
    display: inline-block;
    margin-left: 8px;
    font-size: 16px;
  }
  &--dataSetCheck__incorrect {
    display: none;
    color: #979797;
  }
  &--dataSetCheck__correct {
    color: #529453
  }
  &--submissionsLink {
    display: block;
    font-size: 14px;
    color: $link-color;
    &:hover {
      color: $link-color;
    }
  }
  &--rankingLink {
    display: block;
    font-size: 14px;
    color: $link-color;
    &:hover {
      color: $link-color;
    }
  }
}

.contestHome {
  float: left;
  width: 75%;
  &--inner {
    padding: 16px;
  }
  &--header {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    font-weight: normal;
    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 120px;
      height: 2px;
      background-color: $brand-color;
    }
  }
  &--body {
    padding-left: 8px;
    padding-right: 8px;
  }
  &--registrationButtonWrapper {
    text-align: center;
  }
  &--registrationButton {
    position: relative;
    top: 0;
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: $brand-color;
    box-shadow: 0 0.5px 0.8px 0 rgba(0, 0, 0, 0.12), 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.24);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.15s background-color ease-in, 0.15s box-shadow ease-in;
    &:hover {
      text-decoration: none;
      background-color: lighten($brand-color, 5%);
      box-shadow: 0 0.5px 8px 0 rgba(0, 0, 0, 0.08), 0 0.5px 4px 0 rgba(0, 0, 0, 0.18);
      color: #fff;
    }
    &:active {
      top: 2px;
    }
  }
}

.problem {
  float: left;
  width: 75%;
  &--inner {
    padding: 16px;
  }
  &--header {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 120px;
      height: 2px;
      background-color: $brand-color;
    }
  }
  &--body {
    padding-left: 8px;
    padding-right: 8px;
  }
  &--score {
    margin-bottom: 8px;
  }
  &--scoreHeader {
    font-size: 14px;
    font-weight: bold;
  }
  &--scoreBody {
    font-size: 14px;
  }
  &--description {
    margin-bottom: 8px;
  }
  &--descriptionBody {
    font-size: 14px;
  }
  &--submission {
    margin-bottom: 8px;
  }
  &--submissionHeader {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  &--submissionForm {
    border: 1px solid #979797;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  &--submissionDataSets {
    @include clearfix;
    border-bottom: 1px solid #979797;
  }
  &--dataSetTabs {
    float: left;
  }
  &--dataSetTab,
  &--dataSetTab__active {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 1px;
    border-bottom: 3px solid transparent;
    margin-right: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  &--dataSetTab:hover,
  &--dataSetTab__active {
    border-bottom: 3px solid $brand-color;
  }
  &--dataSetDownloadLink {
    display: block;
    float: right;
    padding: 4px 8px;
    cursor: pointer;
    color: inherit;
    &:visited {
      color: inherit;
    }
    &:hover {
      text-decoration: none;
      color: #777;
    }
  }
  &--answer {
    @include clear-form-input-style;
    display: block;
    width: 100%;
    padding: 4px;
    line-height: 1.5;
    resize: none;
    font-size: 14px;
  }
  &--submitWrapper {
    text-align: right;
  }
  &--submit {
    @include clear-form-input-style;
    position: relative;
    top: 0;
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: $brand-color;
    box-shadow: 0 0.5px 0.8px 0 rgba(0, 0, 0, 0.12), 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.24);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.15s background-color ease-in, 0.15s box-shadow ease-in;
    &:hover {
      text-decoration: none;
      background-color: lighten($brand-color, 5%);
      box-shadow: 0 0.5px 8px 0 rgba(0, 0, 0, 0.08), 0 0.5px 4px 0 rgba(0, 0, 0, 0.18);
      color: #fff;
    }
    &:active {
      top: 2px;
    }
  }
}

.submissions {
  float: left;
  width: 75%;
  &--inner {
    padding: 16px;
  }
  &--header {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    font-weight: normal;
    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 120px;
      height: 2px;
      background-color: $brand-color;
    }
  }
  &--body {
    padding-left: 8px;
    padding-right: 8px;
  }
  &--table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;
  }
  &--createdAtHeader,
  &--problemNameHeader,
  &--dataSetLabelHeader,
  &--judgeStatusHeader,
  &--scoreHeader,
  &--createdAt,
  &--problemName,
  &--dataSetLabel,
  &--judgeStatus,
  &--score {
    border-bottom: 1px solid #979797;
    vertical-align: middle;
    padding: 4px;
  }
  &--judgeStatus,
  &--score {
    text-align: center;
  }
  &--judgeStatusBadge__WJ,
  &--judgeStatusBadge__WA,
  &--judgeStatusBadge__AC {
    display: inline-block;
    width: 32px;
    padding: 2px 0;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    color: #fff;
  }
  &--judgeStatusBadge__WJ {
    background-color: #979797;
  }
  &--judgeStatusBadge__WA {
    background-color: #ef9e2b;
  }
  &--judgeStatusBadge__AC {
    background-color: #529453;
  }
}

.ranking {
  float: left;
  width: 75%;
  &--inner {
    padding: 15px;
  }
  &--header {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    margin-bottom: 8px;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    font-weight: normal;
    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 120px;
      height: 2px;
      background-color: $brand-color;
    }
  }
  &--body {
    padding-left: 8px;
    padding-right: 8px;
  }
  &--table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;
  }
  &--tableOrderHeader,
  &--tableNameHeader,
  &--tableScoreHeader,
  &--tableTotalScoreHeader,
  &--tableOrder,
  &--tableName,
  &--tableScore,
  &--tableTotalScore {
    border-bottom: 1px solid #979797;
    vertical-align: middle;
    padding: 4px;
  }
  &--tableOrder,
  &--tableScore,
  &--tableTotalScore {
    text-align: center;
  }
  &--score {
    font-size: 13px;
  }
  &--solvedTime {
    font-size: 12px;
    color: #999;
  }
  &--pagination {
    display: inline-block;
    padding: 4px 8px;
    margin-right: 8px;
    border: 1px solid #979797;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
  }
}

.submitResults {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #979797;
  font-size: 14px;

  &--inner {
    padding: 4px 8px;
  }

  &--header {
    padding: 4px;
    border-bottom: 1px solid #979797;
  }

  &--item {
    padding: 4px;
    border-bottom: 1px solid #979797;
    vertical-align: middle;
  }

  &--judgeStatus__WJ,
  &--judgeStatus__WA,
  &--judgeStatus__AC {
    display: inline-block;
    margin-right: 8px;
    width: 32px;
    padding: 2px 0;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    color: #fff;
  }
  &--judgeStatus__WJ {
    background-color: #979797;
  }
  &--judgeStatus__WA {
    background-color: #ef9e2b;
  }
  &--judgeStatus__AC {
    background-color: #529453;
  }

  &--score {
    display: inline-block;
  }

  &--date {
    display: inline-block;
    margin-right: 8px;
  }

  &--footer {
    text-align: right;
    padding: 4px;
    cursor: pointer;
  }
}
