<% content_for :styles do %>
  <%= stylesheet_link_tag 'pages/contests' %>
<% end %>

<div id="contests-app"></div>

<% content_for :scripts do %>
  <%= javascript_include_tag "build/contests.#{I18n.locale}" %>
<% end %>
