<% content_for :styles do %>
  <%= stylesheet_link_tag 'pages/terms' %>
<% end %>

<div class="terms">
  <div class="terms--inner">
    <div class="terms--contents">
      <h2>利用規約</h2>
      <p>任意団体ProgrammingDaisukiClub（以下「サービス提供者」という）が運営する「WPCS2」（以下「本サービス」という）を利用するすべてのお客様（以下「利用者」という）及び本サービスを閲覧するすべてのお客様（以下「閲覧者」という）は、以下の利用規約に同意したものとみなします。未成年の利用者は、保護者の同意に基づいて本サービスをご利用ください。</p>
    </div>
    <div class="terms--contents">
      <h3>第１条（保証の否認）</h3>
      <ol>
        <li>サービス提供者は、本サービスの内容等の正確性に対する保証行為を一切しておりません。また、サービス提供者は、利用者が本サービスを利用したことに起因する直接的又は間接的な損害に関して一切責任を負わないものとします。</li>
        <li>サービス提供者は、本サービス内のすべてのデータ、画像等に、ウイルスなどの有害物が含まれていないこと、および第三者からの不正なアクセスのないこと、その他本サービスの安全性に関して一切の保証をしないものとします。</li>
      </ol>
    </div>
    <div class="terms--contents">
      <h3>第２条（情報の転載等の禁止）</h3>
      <p>本サービスを構成するすべてのデータ、画像等のすべての著作権は、サービス提供者及び画像等の作成者に帰属します。閲覧者は、サービス提供者の事前の許諾なしに、本サービスの画像、データ及びプログラムを他のサイト、雑誌、広告等に転載できないものとします。</p>
      <h3>第３条（権利の帰属）</h3>
      <ol>
        <li>本サービスを構成するすべてのプログラム、ソフトウェア、サービス、商標及び商号ならびにサービス提供者及びサービス提供者が業務提携する事業者等が提供するサービス、商品及びそれに付随する技術全般に関する権利は、サービス提供者、サービス提供者が業務提携する事業者等、プログラム等の権利者又は情報提供者等に帰属するものであり、利用者等は、同権利等を侵害する行為を一切行ってはなりません。</li>
        <li>利用者等は、本サービスを構成するすべてのプログラム、ソフトウェア等に対して侵害行為及び改造行為等を行ってはなりません。</li>
        <li>本条の規定に違反して紛争が発生した場合、利用者等は、自己の費用と責任において、当該紛争を解決するとともに、いかなる場合もサービス提供者を免責するものとします。</li>
      </ol>
    </div>
    <div class="terms--contents">
      <h3>第４条（損害賠償）</h3>
      <ol>
        <li>利用者等が本規約、本サービス内の各規約又は各ガイドライン及び法令の定めに違反したことにより、サービス提供者及びサービス提供者が業務提携する事業者等を含む第三者に損害を及ぼした場合、同利用者等は、当該損害を賠償する責任を負い、いかなる場合もサービス提供者及びサービス提供者が業務提携する事業者等を含む第三者を免責するものとします。</li>
        <li>第３条に違反しサービス提供者、サービス提供者が業務提携する事業者等又は第三者に損害を与えた利用者等は、サービス提供者、サービス提供者が業務提携する事業者等及び他の利用者等又は第三者が受けたすべての損害を賠償する義務を負うものとします。</li>
      </ol>
    </div>
    <div class="terms--contents">
      <h3>第５条（アカウント）</h3>
      <ol>
        <li>利用者は、本サイトのID、パスワード等を自身の責任で厳重に管理しなければならず、第三者への譲渡、貸与等を行ってはなりません。アカウントの使用によって生じた損害の責任は利用者が負うものとし、サービス提供者は一切の責任を負わないものとします。</li>
        <li>サービス提供者は、利用者が本規約に違反した場合、もしくは違反するおそれがあると認められた場合、あらかじめ利用者に通知することなく、アカウントを削除できるものとします。</li>
      </ol>
    </div>
    <div class="terms--contents">
      <h3>第６条（本サービスの一時的な停止）</h3>
      <ol>
        <li>サービス提供者は、以下の事由により、利用者に事前の通知なく、一時的に本サービスの提供を停止することができるものとします。本サービスの停止による直接又は間接に生じた利用者又は第三者の損失や損害について、サービス提供者は、その内容、態様の如何に係わらず、一切の責任を負わないものとします。
          <ol>
            <li>本サービスの稼動状態を良好に保つため、サービス提供者のシステム保守、点検、修理などを行う場合。</li>
            <li>火災、停電による本サービスの提供ができなくなった場合。</li>
            <li>天変地異などにより、本サービスの提供ができなくなった場合。</li>
            <li>その他、運用上または技術上、本サービス提供の一時的な停止を必要とした場合。</li>
          </ol>
        </li>
        <li>サービス提供者は、前項の理由により本サービスの一時停止を行った場合において、本サービスの継続的な提供が困難だと判断した場合、第７条の規定に係わらず利用者等に対して通知を行わず本サービスを終了することができるものとします。</li>
      </ol>
    </div>
    <div class="terms--contents">
      <h3>第７条（サービスの終了）</h3>
      <p>本サービス終了によって直接又は間接的に生じた、利用者又は第三者の損失や損害について、その内容、態様の如何に係わらず、サービス提供者は、同利用者又は第三者に対して一切の損害の責任を負いません。</p>
    </div>
    <div class="terms--contents">
      <h3>第８条（合意管轄等）</h3>
      <ol>
        <li>本規約に関連して、会員及び利用者とサービス提供者との間で紛争が生じた場合には、双方は、ともに誠意をもって協議するものとします。</li>
        <li>前項により協議をしても解決しない場合は、東京地方裁判所を第一審の専属管轄裁判所とします。</li>
        <li>本規約の準拠法は、日本国法とします。</li>
      </ol>
    </div>
    <div class="terms--contents">
      <h3>第９条（利用者の行為）</h3>
      <ol>
        <li>利用者が本サービスを利用して送受信する場合、同送受信内容は、利用者自らが責任を負うものとします。</li>
        <li>サービス提供者は、本サービスを利用者にインターネットを経由して提供します。インターネットに接続するためのあらゆる機器、通信手段、ソフトウェア等は、利用者が自らの責任と費用において、適切に設置及び操作しなければなりません。同操作等についてサービス提供者は一切の責任を負いません。</li>
        <li>利用者は、利用者のインターネット接続環境等によって、本サービスを利用又は閲覧するために通信費等が別途必要となることに同意し、同通信費等の一切を同利用者が負担するものとします。</li>
        <li>利用者は、利用者のインターネット接続環境等によって、本サービスの一部を閲覧又は利用できない可能性があることを予め了承するものとします。</li>
      </ol>
    </div>
    <div class="terms--contents">
      <h3>第１０条（本規約の変更）</h3>
      <p>サービス提供者は、サービス提供者の都合により、本規約の内容を必要に応じ予告なくして改定することができ、利用者は、本サービスを利用する際、その都度、本規約の内容を確認するものとします。改定後に利用者が本サービスを利用した場合には、改定に同意したものとみなします。なお、本ページを確認しなかったことに起因する直接または間接に生じた利用者及び第三者に与える損害については、その内容、態様の如何に係わらず、サービス提供者は一切の責任を負わないものとします。</p>
    </div>
  </div>
</div>
