<h1>ReactTutorial#index</h1>
<p>Find me in app/views/react_tutorial/index.html.erb</p>

<div id="app"></div>

<%= javascript_include_tag "build/tutorial" %>
<%= render partial: 'contests/import_mathjax' %>
