<% content_for :styles do %>
  <%= stylesheet_link_tag 'welcome' %>
<% end %>

<div class='main clearfix'>
  <div class='contests'>
    <% @top_contest.each do |contest| %>
    <div class='contests__item'> 
      <div class='contests__item__header'> 
        <span class='contests__item__header__title'><%= contest[:name]%></span> 
      </div>
      <div class='contests__item__body clearfix'>
        <%= contest[:description]%>
      </div>  
      <div class='contests__item__body__right'>
        <button class='contests__item__body__btn'>参加する</button>
      </div>
    </div>
    <% end %>
  </div>

  <div class='side-nav'>
    <div class='side-nav__header'> 
      <span class='side-nav__header__title'>Contests</span>
    </div>
    <ul>
      <% @all_contest.each do |contest| %>
      <li class='contests__item'>
         <a><%= contest[:name]%></a>
      </li>
      <% end %>
    </ul>    
  </div>
</div>
