<div class='main clearfix'>
  <div class='main-col'>
    <div> 
      <div class='section-header'> <span class='section-title'>About WPCS</span> </div>
      <div class='section-body'>このサイトは競技プログラミングコンテストの〜</div>
    </div>

    <div> 
      <div class='section-header'> <span class='section-title'>情理オリエンテーション</span> </div>
      <div class='section-body clearfix'>
        早稲田大学情報理工学科2年生オリエンテーションで行うプログラミングコンテストです。2年生だけでなく3, 4年生の参加もお待ちしています。コンテスト上位者には商品が出る……かもしれない？
        <br />
        <div class='section-body-main'> 
          <p>開始時間: 4/29(土) 14:00</p>
          <p>コンテスト時間: 100分</p>
          <p>問題数: 8問 </p>
        </div>
        <div class='section-body-side'> 
          <br />
          <br />
          <button class='btn'>参加する</button>
        </div>
      </div>  
    </div>

  </div>
  <div class='side-col'>
    <div class='section-header'> <span class='section-title'>過去に開催されたコンテスト</span> </div>
    <div class='section-body'><span class='underline'>プログラミングコンテスト</span></div>
  </div>
</div>