@import "github-markdown";
@import "variables";

.markdown-body {
  font-size: 14px;
  line-height: 1.67;
  h1 {
    font-size: 1.3em;
    border-left: 4px solid $brand-color;
    border-bottom: none;
    padding: 2px 8px;
  }
  h2 {
    font-size: 1.2em;
  }
  h3,
  h4,
  h5 {
    font-size: 1em;
  }
  li {
    list-style-type: disc;
  }
  .markdown--code {
    margin-top: 0;
    margin-bottom: 16px;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    white-space: pre;
  }
  .markdown-code::before,
  .markdown-code::after {
    content: normal;
  }
}
