@import "github-markdown";
@import "variables";

.markdown-body {
  font-size: 14px;
  line-height: 1.67;
  h1 {
    font-size: 1.3em;
    border-left: 4px solid $brand-color;
    border-bottom: none;
    padding: 2px 8px;
  }
  h2 {
    font-size: 1.2em;
  }
  h3,
  h4,
  h5 {
    font-size: 1em;
  }
  li {
    list-style-type: disc;
  }
}
