<p id="notice"><%= notice %></p>

<div class="profileContainer">
  <h1 class="profileContainer--header">Profile</h1>
  <div class="profileContainer--heading">
    <p>
      <%= @user.name %>
      <%= @user.email %>
    </p>
  </div>
</div>
