<div class="globalFooter">
  <footer class="globalFooter--inner">
    <nav class="globalFooter--navigation">
      <%= link_to t('layouts.footer.terms_of_service'), terms_path, class: 'globalFooter--navLink' %>
      <%= link_to t('layouts.footer.privacy_policy'), privacy_policies_path, class: 'globalFooter--navLink' %>
    </nav>
    <div class="globalFooter--copyright"><%= t('layouts.footer.copyright', current_year: Date.today.year) %></div>
  </footer>
</div>
